{#/*#}
{#* Copyright (c) 2012, TATRC and Tribal#}
{#* All rights reserved.#}
{#*#}
{#* Redistribution and use in source and binary forms, with or without#}
{#* modification, are permitted provided that the following conditions are met:#}
{#* * Redistributions of source code must retain the above copyright#}
{#*   notice, this list of conditions and the following disclaimer.#}
{#* * Redistributions in binary form must reproduce the above copyright#}
{#*   notice, this list of conditions and the following disclaimer in the#}
{#*   documentation and/or other materials provided with the distribution.#}
{#* * Neither the name of TATRC or TRIBAL nor the#}
{#*   names of its contributors may be used to endorse or promote products#}
{#*   derived from this software without specific prior written permission.#}
{#*#}
{#* THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" AND#}
{#* ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED#}
{#* WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE#}
{#* DISCLAIMED. IN NO EVENT SHALL TATRC OR TRIBAL BE LIABLE FOR ANY#}
{#* DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL DAMAGES#}
{#* (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR SERVICES;#}
{#* LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER CAUSED AND#}
{#* ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, OR TORT#}
{#* (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE OF THIS#}
{#* SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.#}
{#*/#}
{% extends 'FrontendPortalBundle::layout.html.twig' %}

{% block title %}{% trans from "mobile_user" %}page.title{% endtrans %}{% endblock %}

{% block css %}
	{{ parent() }}
	{% stylesheets filter='cssrewrite'
	    '@FrontendPortalBundle/Resources/public/css/User/new.css'
	%}
	<link rel="stylesheet" href="{{ asset_url }}" />
	{% endstylesheets %}
{% endblock %}

{% block content %}
	<h1>{{ 'new.first_header' | trans({},'mobile_user') }}</h1>
	<h2>{{ 'new.second_header' | trans({},'mobile_user') }}</h2>

    {% include 'FrontendPortalBundle::flash_message.html.twig' %}

	<form action="{{ path('frontend_portal_mobileuser_create') }}" method="post" {{ form_enctype(form) }}>
            {{ form_label(form.username, 'field.username' | trans({},'mobile_user'), { 'attr' : {'class': 'label-i'} }) }}
	    {{ form_widget(form.username, { 'attr': {'class': 'text'} }) }}
		<div class="errors">
			{{ form_errors(form.username) }}
		</div>
	    <span class="break"><!-- --></span>
	    
	    {{ form_label(form.state, 'field.state' | trans({},'mobile_user'), { 'attr' : {'class': 'label-i'} }) }}
	    {{ form_widget(form.state, { 'attr': {'class': 'text'} }) }}
		<div class="errors">
			{{ form_errors(form.state) }}
		</div>
	    <span class="break"><!-- --></span>
            
            <div class="hidden">
	  	{{ form_rest(form) }}
            </div>
		
	    <a class="big-button submit-button mt20" href="javascript:;" title="{{ 'action.create' | trans({},'mobile_user') }}">{{ 'action.create' | trans({},'mobile_user') }}</a>
            
            <input type="submit" style="display: none" value="Submit" />
	</form>

	<ul class="record_actions mt20">
	    <li>
	        <a class="btn150" href="{{ path('frontend_portal_mobileuser_index') }}">
	            {{ 'action.back' | trans({},'mobile_user') }}
	        </a>
	    </li>
	</ul>
{% endblock %}